name: Continuous Integration

on: 
  push: 
    branches:
      - "**"
      - "!main"
  pull_request:
    branches:
      - "**"

jobs: 
  backend:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code 
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with: 
          python-version: '3.10'
        
      - name: Install backend dependecies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Static analysis 
        run: |
          python -m compileall Todo_App
  
  frontend:
      runs-on: ubuntu-latest
      defaults:
        run: 
            working-directory: Todo_App/static/react
      steps:
        - name: Check out code
          uses: actions/checkout@v3

        - name: Set Up Node
          uses: actions/setup-node@v4
          with:
              node-version: "18"
        
        - name: Install Frontend dependecies
          run: npm install
        
        - name: Build frontend
          run: npm run build
  
  docker-build:
      runs-on: ubuntu-latest
      needs: [backend,frontend]
      steps:
          - name: Check out code
            uses: actions/checkout@v3

          - name: Set Up Docker Buildx
            uses: docker/setup-buildx-action@v2
          
          - name: Build Docker Image
            uses: docker/build-push-action@v3
            with:
              context: .
              file: Dockerfile
              push: false
              load: false